### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [88]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [89]:
#District Summary code

total_schools = school_data_complete['school_name'].nunique()

total_students = school_data_complete['Student ID'].count()



total_budget = school_data_complete['budget'].unique().sum()

avg_math_score = school_data_complete['math_score'].mean()

avg_read_score = school_data_complete['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
total_passing_math_students_df = school_data_complete[school_data_complete['math_score'] >= 70 ]
total_passing_math_students_int = total_passing_math_students_df['Student ID'].count()

percent_passing_math = (total_passing_math_students_int / total_students) * 100

#Passing Reading (The percentage of students that passed reading)
total_passing_read_students_df = school_data_complete[school_data_complete['reading_score'] >= 70 ]
total_passing_read_students_int = total_passing_read_students_df['Student ID'].count()

percent_passing_read = (total_passing_read_students_int / total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
overall_passing_df = total_passing_math_students_df[total_passing_math_students_df['reading_score'] >= 70 ]

overall_passing_int = overall_passing_df['Student ID'].count()

percent_overall_passing = (overall_passing_int / total_students) * 100

#Created a dictionary of the above results
dict_district = {'Total Number of Schools': [total_schools], 
                 'Total Number of Students': [total_students], 
                 'Total Budget': [total_budget], 
                 "Average Math Score": [avg_math_score], 
                 'Average Reading Score': [avg_read_score],
                 'Percentage of >= 70 Math Scores': [percent_passing_math],
                 'Percentage of >= 70 Reading Scores': [percent_passing_read],
                 'Percentage of Overall Passing': [percent_overall_passing]
                }
#Created a dataframe from the dictionary of above results
district_df = pd.DataFrame(dict_district)

#Display the results of new district dataframe
district_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [90]:
#I found unique schools names from school_data_complete dataframe
unique_school_names = school_data_complete['school_name'].unique()
unique_school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [91]:
#Filter the data so that only those in Huang High School are in the DataFrame
Huang_df = school_data_complete[school_data_complete['school_name'] == "Huang High School"]

Huang_schoolname = Huang_df.iloc[0,4]

Huang_school_type = Huang_df.iloc[0,8]

Huang_total_students = Huang_df['Student ID'].count()

Huang_total_budget = Huang_df['budget'].unique().sum()

Huang_PerStudent_budget = Huang_total_budget / Huang_total_students

Huang_avg_math_score = Huang_df['math_score'].mean()

Huang_avg_read_score = Huang_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Huang_total_passing_math_students_df = Huang_df[Huang_df['math_score'] >= 70 ]
Huang_total_passing_math_students_int = Huang_total_passing_math_students_df['Student ID'].count()

Huang_percent_passing_math = (Huang_total_passing_math_students_int / Huang_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Huang_total_passing_read_students_df = Huang_df[Huang_df['reading_score'] >= 70 ]
Huang_total_passing_read_students_int = Huang_total_passing_read_students_df['Student ID'].count()

Huang_percent_passing_read = (Huang_total_passing_read_students_int / Huang_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Huang_overall_passing_df = Huang_total_passing_math_students_df[Huang_total_passing_math_students_df['reading_score'] >= 70  ]
Huang_overall_passing_int = Huang_overall_passing_df['Student ID'].count()

Huang_percent_overall_passing = (Huang_overall_passing_int / Huang_total_students) * 100

Huang_dict = {
                'School Name': [Huang_schoolname],
                'School Type': [Huang_school_type],
                'Total Number of Students': [Huang_total_students], 
                'Total School Budget': [Huang_total_budget],
                'Per Student Budget': [Huang_PerStudent_budget],
                'Average Math Score': [Huang_avg_math_score], 
                'Average Reading Score': [Huang_avg_read_score],
                'Percentage of >= 70 Math Scores': [Huang_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Huang_percent_passing_read],
                'Percentage of Overall Passing': [Huang_percent_overall_passing]
                }
Huang_summary_df = pd.DataFrame(Huang_dict)

In [92]:
#Filter the data so that only those in Figueroa High School are in the DataFrame
Figueroa_df = school_data_complete[school_data_complete['school_name'] == "Figueroa High School"]

Figueroa_schoolname = Figueroa_df.iloc[0,4]

Figueroa_school_type = Figueroa_df.iloc[0,8]

Figueroa_total_students = Figueroa_df['Student ID'].count()

Figueroa_total_budget = Figueroa_df['budget'].unique().sum()

Figueroa_PerStudent_budget = Figueroa_total_budget / Figueroa_total_students

Figueroa_avg_math_score = Figueroa_df['math_score'].mean()

Figueroa_avg_read_score = Figueroa_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Figueroa_total_passing_math_students_df = Figueroa_df[Figueroa_df['math_score'] >= 70 ]
Figueroa_total_passing_math_students_int = Figueroa_total_passing_math_students_df['Student ID'].count()

Figueroa_percent_passing_math = (Figueroa_total_passing_math_students_int / Figueroa_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Figueroa_total_passing_read_students_df = Figueroa_df[Figueroa_df['reading_score'] >= 70 ]
Figueroa_total_passing_read_students_int = Figueroa_total_passing_read_students_df['Student ID'].count()

Figueroa_percent_passing_read = (Figueroa_total_passing_read_students_int / Figueroa_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Figueroa_overall_passing_df = Figueroa_total_passing_math_students_df[Figueroa_total_passing_math_students_df['reading_score'] >= 70 ]
Figueroa_overall_passing_int = Figueroa_overall_passing_df['Student ID'].count()

Figueroa_percent_overall_passing = (Figueroa_overall_passing_int / Figueroa_total_students) * 100

Figueroa_dict = {
                'School Name': [Figueroa_schoolname],
                'School Type': [Figueroa_school_type],
                'Total Number of Students': [Figueroa_total_students], 
                'Total School Budget': [Figueroa_total_budget],
                'Per Student Budget': [Figueroa_PerStudent_budget],
                'Average Math Score': [Figueroa_avg_math_score], 
                'Average Reading Score': [Figueroa_avg_read_score],
                'Percentage of >= 70 Math Scores': [Figueroa_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Figueroa_percent_passing_read],
                'Percentage of Overall Passing': [Figueroa_percent_overall_passing]
                }
Figueroa_summary_df = pd.DataFrame(Figueroa_dict)

In [93]:
#Filter the data so that only those in Shelton High School are in the DataFrame
Shelton_df = school_data_complete[school_data_complete['school_name'] == "Shelton High School"]

Shelton_schoolname = Shelton_df.iloc[0,4]

Shelton_school_type = Shelton_df.iloc[0,8]

Shelton_total_students = Shelton_df['Student ID'].count()

Shelton_total_budget = Shelton_df['budget'].unique().sum()

Shelton_PerStudent_budget = Shelton_total_budget / Shelton_total_students

Shelton_avg_math_score = Shelton_df['math_score'].mean()

Shelton_avg_read_score = Shelton_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Shelton_total_passing_math_students_df = Shelton_df[Shelton_df['math_score'] >= 70 ]
Shelton_total_passing_math_students_int = Shelton_total_passing_math_students_df['Student ID'].count()

Shelton_percent_passing_math = (Shelton_total_passing_math_students_int / Shelton_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Shelton_total_passing_read_students_df = Shelton_df[Shelton_df['reading_score'] >= 70 ]
Shelton_total_passing_read_students_int = Shelton_total_passing_read_students_df['Student ID'].count()

Shelton_percent_passing_read = (Shelton_total_passing_read_students_int / Shelton_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Shelton_overall_passing_df = Shelton_total_passing_math_students_df[Shelton_total_passing_math_students_df['reading_score'] >= 70 ]
Shelton_overall_passing_int = Shelton_overall_passing_df['Student ID'].count()

Shelton_percent_overall_passing = (Shelton_overall_passing_int / Shelton_total_students) * 100

Shelton_dict = {
                'School Name': [Shelton_schoolname],
                'School Type': [Shelton_school_type],
                'Total Number of Students': [Shelton_total_students], 
                'Total School Budget': [Shelton_total_budget],
                'Per Student Budget': [Shelton_PerStudent_budget],
                'Average Math Score': [Shelton_avg_math_score], 
                'Average Reading Score': [Shelton_avg_read_score],
                'Percentage of >= 70 Math Scores': [Shelton_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Shelton_percent_passing_read],
                'Percentage of Overall Passing': [Shelton_percent_overall_passing]
                }


Shelton_summary_df = pd.DataFrame(Shelton_dict)

In [94]:
#Filter the data so that only those in Hernandez High School are in the DataFrame
Hernandez_df = school_data_complete[school_data_complete['school_name'] == "Hernandez High School"]

Hernandez_schoolname = Hernandez_df.iloc[0,4]

Hernandez_school_type = Hernandez_df.iloc[0,8]

Hernandez_total_students = Hernandez_df['Student ID'].count()

Hernandez_total_budget = Hernandez_df['budget'].unique().sum()

Hernandez_PerStudent_budget = Hernandez_total_budget / Hernandez_total_students

Hernandez_avg_math_score = Hernandez_df['math_score'].mean()

Hernandez_avg_read_score = Hernandez_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Hernandez_total_passing_math_students_df = Hernandez_df[Hernandez_df['math_score'] >= 70 ]
Hernandez_total_passing_math_students_int = Hernandez_total_passing_math_students_df['Student ID'].count()

Hernandez_percent_passing_math = (Hernandez_total_passing_math_students_int / Hernandez_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Hernandez_total_passing_read_students_df = Hernandez_df[Hernandez_df['reading_score'] >= 70 ]
Hernandez_total_passing_read_students_int = Hernandez_total_passing_read_students_df['Student ID'].count()

Hernandez_percent_passing_read = (Hernandez_total_passing_read_students_int / Hernandez_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Hernandez_overall_passing_df = Hernandez_total_passing_math_students_df[Hernandez_total_passing_math_students_df['reading_score'] >= 70  ]
Hernandez_overall_passing_int = Hernandez_overall_passing_df['Student ID'].count()

Hernandez_percent_overall_passing = (Hernandez_overall_passing_int / Hernandez_total_students) * 100

Hernandez_dict = {
                'School Name': [Hernandez_schoolname],
                'School Type': [Hernandez_school_type],
                'Total Number of Students': [Hernandez_total_students], 
                'Total School Budget': [Hernandez_total_budget],
                'Per Student Budget': [Hernandez_PerStudent_budget],
                'Average Math Score': [Hernandez_avg_math_score], 
                'Average Reading Score': [Hernandez_avg_read_score],
                'Percentage of >= 70 Math Scores': [Hernandez_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Hernandez_percent_passing_read],
                'Percentage of Overall Passing': [Hernandez_percent_overall_passing]
                }
Hernandez_summary_df = pd.DataFrame(Hernandez_dict)

In [95]:
#Filter the data so that only those in Griffin High School are in the DataFrame
Griffin_df = school_data_complete[school_data_complete['school_name'] == "Griffin High School"]

Griffin_schoolname = Griffin_df.iloc[0,4]

Griffin_school_type = Griffin_df.iloc[0,8]

Griffin_total_students = Griffin_df['Student ID'].count()

Griffin_total_budget = Griffin_df['budget'].unique().sum()

Griffin_PerStudent_budget = Griffin_total_budget / Griffin_total_students

Griffin_avg_math_score = Griffin_df['math_score'].mean()

Griffin_avg_read_score = Griffin_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Griffin_total_passing_math_students_df = Griffin_df[Griffin_df['math_score'] >= 70 ]
Griffin_total_passing_math_students_int = Griffin_total_passing_math_students_df['Student ID'].count()

Griffin_percent_passing_math = (Griffin_total_passing_math_students_int / Griffin_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Griffin_total_passing_read_students_df = Griffin_df[Griffin_df['reading_score'] >= 70 ]
Griffin_total_passing_read_students_int = Griffin_total_passing_read_students_df['Student ID'].count()

Griffin_percent_passing_read = (Griffin_total_passing_read_students_int / Griffin_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Griffin_overall_passing_df = Griffin_total_passing_math_students_df[Griffin_total_passing_math_students_df['reading_score'] >= 70 ]
Griffin_overall_passing_int = Griffin_overall_passing_df['Student ID'].count()

Griffin_percent_overall_passing = (Griffin_overall_passing_int / Griffin_total_students) * 100

Griffin_dict = {
                'School Name': [Griffin_schoolname],
                'School Type': [Griffin_school_type],
                'Total Number of Students': [Griffin_total_students], 
                'Total School Budget': [Griffin_total_budget],
                'Per Student Budget': [Griffin_PerStudent_budget],
                'Average Math Score': [Griffin_avg_math_score], 
                'Average Reading Score': [Griffin_avg_read_score],
                'Percentage of >= 70 Math Scores': [Griffin_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Griffin_percent_passing_read],
                'Percentage of Overall Passing': [Griffin_percent_overall_passing]
                }
Griffin_summary_df = pd.DataFrame(Griffin_dict)

In [96]:
#Filter the data so that only those in Wilson High School are in the DataFrame
Wilson_df = school_data_complete[school_data_complete['school_name'] == "Wilson High School"]

Wilson_schoolname = Wilson_df.iloc[0,4]

Wilson_school_type = Wilson_df.iloc[0,8]

Wilson_total_students = Wilson_df['Student ID'].count()

Wilson_total_budget = Wilson_df['budget'].unique().sum()

Wilson_PerStudent_budget = Wilson_total_budget / Wilson_total_students

Wilson_avg_math_score = Wilson_df['math_score'].mean()

Wilson_avg_read_score = Wilson_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Wilson_total_passing_math_students_df = Wilson_df[Wilson_df['math_score'] >= 70 ]
Wilson_total_passing_math_students_int = Wilson_total_passing_math_students_df['Student ID'].count()

Wilson_percent_passing_math = (Wilson_total_passing_math_students_int / Wilson_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Wilson_total_passing_read_students_df = Wilson_df[Wilson_df['reading_score'] >= 70 ]
Wilson_total_passing_read_students_int = Wilson_total_passing_read_students_df['Student ID'].count()

Wilson_percent_passing_read = (Wilson_total_passing_read_students_int / Wilson_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Wilson_overall_passing_df = Wilson_total_passing_math_students_df[Wilson_total_passing_math_students_df['reading_score'] >= 70 ]
Wilson_overall_passing_int = Wilson_overall_passing_df['Student ID'].count()

Wilson_percent_overall_passing = (Wilson_overall_passing_int / Wilson_total_students) * 100

Wilson_dict = {
                'School Name': [Wilson_schoolname],
                'School Type': [Wilson_school_type],
                'Total Number of Students': [Wilson_total_students], 
                'Total School Budget': [Wilson_total_budget],
                'Per Student Budget': [Wilson_PerStudent_budget],
                'Average Math Score': [Wilson_avg_math_score], 
                'Average Reading Score': [Wilson_avg_read_score],
                'Percentage of >= 70 Math Scores': [Wilson_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Wilson_percent_passing_read],
                'Percentage of Overall Passing': [Wilson_percent_overall_passing]
                }
Wilson_summary_df = pd.DataFrame(Wilson_dict)

In [97]:
#Filter the data so that only those in Cabrera High School are in the DataFrame
Cabrera_df = school_data_complete[school_data_complete['school_name'] == "Cabrera High School"]

Cabrera_schoolname = Cabrera_df.iloc[0,4]

Cabrera_school_type = Cabrera_df.iloc[0,8]

Cabrera_total_students = Cabrera_df['Student ID'].count()

Cabrera_total_budget = Cabrera_df['budget'].unique().sum()

Cabrera_PerStudent_budget = Cabrera_total_budget / Cabrera_total_students

Cabrera_avg_math_score = Cabrera_df['math_score'].mean()

Cabrera_avg_read_score = Cabrera_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Cabrera_total_passing_math_students_df = Cabrera_df[Cabrera_df['math_score'] >= 70 ]
Cabrera_total_passing_math_students_int = Cabrera_total_passing_math_students_df['Student ID'].count()

Cabrera_percent_passing_math = (Cabrera_total_passing_math_students_int / Cabrera_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Cabrera_total_passing_read_students_df = Cabrera_df[Cabrera_df['reading_score'] >= 70 ]
Cabrera_total_passing_read_students_int = Cabrera_total_passing_read_students_df['Student ID'].count()

Cabrera_percent_passing_read = (Cabrera_total_passing_read_students_int / Cabrera_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Cabrera_overall_passing_df = Cabrera_total_passing_math_students_df[Cabrera_total_passing_math_students_df['reading_score'] >= 70 ]
Cabrera_overall_passing_int = Cabrera_overall_passing_df['Student ID'].count()

Cabrera_percent_overall_passing = (Cabrera_overall_passing_int / Cabrera_total_students) * 100

Cabrera_dict = {
                'School Name': [Cabrera_schoolname],
                'School Type': [Cabrera_school_type],
                'Total Number of Students': [Cabrera_total_students], 
                'Total School Budget': [Cabrera_total_budget],
                'Per Student Budget': [Cabrera_PerStudent_budget],
                'Average Math Score': [Cabrera_avg_math_score], 
                'Average Reading Score': [Cabrera_avg_read_score],
                'Percentage of >= 70 Math Scores': [Cabrera_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Cabrera_percent_passing_read],
                'Percentage of Overall Passing': [Cabrera_percent_overall_passing]
                }
Cabrera_summary_df = pd.DataFrame(Cabrera_dict)

In [98]:
#Filter the data so that only those in Bailey High School are in the DataFrame
Bailey_df = school_data_complete[school_data_complete['school_name'] == "Bailey High School"]

Bailey_schoolname = Bailey_df.iloc[0,4]

Bailey_school_type = Bailey_df.iloc[0,8]

Bailey_total_students = Bailey_df['Student ID'].count()

Bailey_total_budget = Bailey_df['budget'].unique().sum()

Bailey_PerStudent_budget = Bailey_total_budget / Bailey_total_students

Bailey_avg_math_score = Bailey_df['math_score'].mean()

Bailey_avg_read_score = Bailey_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Bailey_total_passing_math_students_df = Bailey_df[Bailey_df['math_score'] >= 70 ]
Bailey_total_passing_math_students_int = Bailey_total_passing_math_students_df['Student ID'].count()

Bailey_percent_passing_math = (Bailey_total_passing_math_students_int / Bailey_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Bailey_total_passing_read_students_df = Bailey_df[Bailey_df['reading_score'] >= 70 ]
Bailey_total_passing_read_students_int = Bailey_total_passing_read_students_df['Student ID'].count()

Bailey_percent_passing_read = (Bailey_total_passing_read_students_int / Bailey_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Bailey_overall_passing_df = Bailey_total_passing_math_students_df[Bailey_total_passing_math_students_df['reading_score']  >= 70 ]
Bailey_overall_passing_int = Bailey_overall_passing_df['Student ID'].count()

Bailey_percent_overall_passing = (Bailey_overall_passing_int / Bailey_total_students) * 100

Bailey_dict = {
                'School Name': [Bailey_schoolname],
                'School Type': [Bailey_school_type],
                'Total Number of Students': [Bailey_total_students], 
                'Total School Budget': [Bailey_total_budget],
                'Per Student Budget': [Bailey_PerStudent_budget],
                'Average Math Score': [Bailey_avg_math_score], 
                'Average Reading Score': [Bailey_avg_read_score],
                'Percentage of >= 70 Math Scores': [Bailey_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Bailey_percent_passing_read],
                'Percentage of Overall Passing': [Bailey_percent_overall_passing]
                }
Bailey_summary_df = pd.DataFrame(Bailey_dict)

In [99]:
#Filter the data so that only those in Holden High School are in the DataFrame
Holden_df = school_data_complete[school_data_complete['school_name'] == "Holden High School"]

Holden_schoolname = Holden_df.iloc[0,4]

Holden_school_type = Holden_df.iloc[0,8]

Holden_total_students = Holden_df['Student ID'].count()

Holden_total_budget = Holden_df['budget'].unique().sum()

Holden_PerStudent_budget = Holden_total_budget / Holden_total_students

Holden_avg_math_score = Holden_df['math_score'].mean()

Holden_avg_read_score = Holden_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Holden_total_passing_math_students_df = Holden_df[Holden_df['math_score'] >= 70 ]
Holden_total_passing_math_students_int = Holden_total_passing_math_students_df['Student ID'].count()

Holden_percent_passing_math = (Holden_total_passing_math_students_int / Holden_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Holden_total_passing_read_students_df = Holden_df[Holden_df['reading_score'] >= 70 ]
Holden_total_passing_read_students_int = Holden_total_passing_read_students_df['Student ID'].count()

Holden_percent_passing_read = (Holden_total_passing_read_students_int / Holden_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Holden_overall_passing_df = Holden_total_passing_math_students_df[Holden_total_passing_math_students_df['reading_score']  >= 70 ]
Holden_overall_passing_int = Holden_overall_passing_df['Student ID'].count()

Holden_percent_overall_passing = (Holden_overall_passing_int / Holden_total_students) * 100

Holden_dict = {
                'School Name': [Holden_schoolname],
                'School Type': [Holden_school_type],
                'Total Number of Students': [Holden_total_students], 
                'Total School Budget': [Holden_total_budget],
                'Per Student Budget': [Holden_PerStudent_budget],
                'Average Math Score': [Holden_avg_math_score], 
                'Average Reading Score': [Holden_avg_read_score],
                'Percentage of >= 70 Math Scores': [Holden_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Holden_percent_passing_read],
                'Percentage of Overall Passing': [Holden_percent_overall_passing]
                }
Holden_summary_df = pd.DataFrame(Holden_dict)

In [100]:
#Filter the data so that only those in Pena High School are in the DataFrame
Pena_df = school_data_complete[school_data_complete['school_name'] == "Pena High School"]

Pena_schoolname = Pena_df.iloc[0,4]

Pena_school_type = Pena_df.iloc[0,8]

Pena_total_students = Pena_df['Student ID'].count()

Pena_total_budget = Pena_df['budget'].unique().sum()

Pena_PerStudent_budget = Pena_total_budget / Pena_total_students

Pena_avg_math_score = Pena_df['math_score'].mean()

Pena_avg_read_score = Pena_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Pena_total_passing_math_students_df = Pena_df[Pena_df['math_score'] >= 70 ]
Pena_total_passing_math_students_int = Pena_total_passing_math_students_df['Student ID'].count()

Pena_percent_passing_math = (Pena_total_passing_math_students_int / Pena_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Pena_total_passing_read_students_df = Pena_df[Pena_df['reading_score'] >= 70 ]
Pena_total_passing_read_students_int = Pena_total_passing_read_students_df['Student ID'].count()

Pena_percent_passing_read = (Pena_total_passing_read_students_int / Pena_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Pena_overall_passing_df = Pena_total_passing_math_students_df[Pena_total_passing_math_students_df['reading_score'] >=70 ]
Pena_overall_passing_int = Pena_overall_passing_df['Student ID'].count()

Pena_percent_overall_passing = (Pena_overall_passing_int / Pena_total_students) * 100

Pena_dict = {
                'School Name': [Pena_schoolname],
                'School Type': [Pena_school_type],
                'Total Number of Students': [Pena_total_students], 
                'Total School Budget': [Pena_total_budget],
                'Per Student Budget': [Pena_PerStudent_budget],
                'Average Math Score': [Pena_avg_math_score], 
                'Average Reading Score': [Pena_avg_read_score],
                'Percentage of >= 70 Math Scores': [Pena_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Pena_percent_passing_read],
                'Percentage of Overall Passing': [Pena_percent_overall_passing]
                }
Pena_summary_df = pd.DataFrame(Pena_dict)

In [101]:
#Filter the data so that only those in Wright High School are in the DataFrame
Wright_df = school_data_complete[school_data_complete['school_name'] == "Wright High School"]

Wright_schoolname = Wright_df.iloc[0,4]

Wright_school_type = Wright_df.iloc[0,8]

Wright_total_students = Wright_df['Student ID'].count()

Wright_total_budget = Wright_df['budget'].unique().sum()

Wright_PerStudent_budget = Wright_total_budget / Wright_total_students

Wright_avg_math_score = Wright_df['math_score'].mean()

Wright_avg_read_score = Wright_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Wright_total_passing_math_students_df = Wright_df[Wright_df['math_score'] >= 70 ]
Wright_total_passing_math_students_int = Wright_total_passing_math_students_df['Student ID'].count()

Wright_percent_passing_math = (Wright_total_passing_math_students_int / Wright_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Wright_total_passing_read_students_df = Wright_df[Wright_df['reading_score'] >= 70 ]
Wright_total_passing_read_students_int = Wright_total_passing_read_students_df['Student ID'].count()

Wright_percent_passing_read = (Wright_total_passing_read_students_int / Wright_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Wright_overall_passing_df = Wright_total_passing_math_students_df[Wright_total_passing_math_students_df['reading_score'] >= 70 ]
Wright_overall_passing_int = Wright_overall_passing_df['Student ID'].count()

Wright_percent_overall_passing = (Wright_overall_passing_int / Wright_total_students) * 100

Wright_dict = {
                'School Name': [Wright_schoolname],
                'School Type': [Wright_school_type],
                'Total Number of Students': [Wright_total_students], 
                'Total School Budget': [Wright_total_budget],
                'Per Student Budget': [Wright_PerStudent_budget],
                'Average Math Score': [Wright_avg_math_score], 
                'Average Reading Score': [Wright_avg_read_score],
                'Percentage of >= 70 Math Scores': [Wright_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Wright_percent_passing_read],
                'Percentage of Overall Passing': [Wright_percent_overall_passing]
                }
Wright_summary_df = pd.DataFrame(Wright_dict)

In [102]:
#Filter the data so that only those in Rodriguez High School are in the DataFrame
Rodriguez_df = school_data_complete[school_data_complete['school_name'] == "Rodriguez High School"]

Rodriguez_schoolname = Rodriguez_df.iloc[0,4]

Rodriguez_school_type = Rodriguez_df.iloc[0,8]

Rodriguez_total_students = Rodriguez_df['Student ID'].count()

Rodriguez_total_budget = Rodriguez_df['budget'].unique().sum()

Rodriguez_PerStudent_budget = Rodriguez_total_budget / Rodriguez_total_students

Rodriguez_avg_math_score = Rodriguez_df['math_score'].mean()

Rodriguez_avg_read_score = Rodriguez_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Rodriguez_total_passing_math_students_df = Rodriguez_df[Rodriguez_df['math_score'] >= 70 ]
Rodriguez_total_passing_math_students_int = Rodriguez_total_passing_math_students_df['Student ID'].count()

Rodriguez_percent_passing_math = (Rodriguez_total_passing_math_students_int / Rodriguez_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Rodriguez_total_passing_read_students_df = Rodriguez_df[Rodriguez_df['reading_score'] >= 70 ]
Rodriguez_total_passing_read_students_int = Rodriguez_total_passing_read_students_df['Student ID'].count()

Rodriguez_percent_passing_read = (Rodriguez_total_passing_read_students_int / Rodriguez_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Rodriguez_overall_passing_df = Rodriguez_total_passing_math_students_df[Rodriguez_total_passing_math_students_df['reading_score'] >= 70 ]
Rodriguez_overall_passing_int = Rodriguez_overall_passing_df['Student ID'].count()

Rodriguez_percent_overall_passing = (Rodriguez_overall_passing_int / Rodriguez_total_students) * 100

Rodriguez_dict = {
                'School Name': [Rodriguez_schoolname],
                'School Type': [Rodriguez_school_type],
                'Total Number of Students': [Rodriguez_total_students], 
                'Total School Budget': [Rodriguez_total_budget],
                'Per Student Budget': [Rodriguez_PerStudent_budget],
                'Average Math Score': [Rodriguez_avg_math_score], 
                'Average Reading Score': [Rodriguez_avg_read_score],
                'Percentage of >= 70 Math Scores': [Rodriguez_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Rodriguez_percent_passing_read],
                'Percentage of Overall Passing': [Rodriguez_percent_overall_passing]
                }
Rodriguez_summary_df = pd.DataFrame(Rodriguez_dict)

In [103]:
#Filter the data so that only those in Johnson High School are in the DataFrame
Johnson_df = school_data_complete[school_data_complete['school_name'] == "Johnson High School"]

Johnson_schoolname = Johnson_df.iloc[0,4]

Johnson_school_type = Johnson_df.iloc[0,8]

Johnson_total_students = Johnson_df['Student ID'].count()

Johnson_total_budget = Johnson_df['budget'].unique().sum()

Johnson_PerStudent_budget = Johnson_total_budget / Johnson_total_students

Johnson_avg_math_score = Johnson_df['math_score'].mean()

Johnson_avg_read_score = Johnson_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Johnson_total_passing_math_students_df = Johnson_df[Johnson_df['math_score'] >= 70 ]
Johnson_total_passing_math_students_int = Johnson_total_passing_math_students_df['Student ID'].count()

Johnson_percent_passing_math = (Johnson_total_passing_math_students_int / Johnson_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Johnson_total_passing_read_students_df = Johnson_df[Johnson_df['reading_score'] >= 70 ]
Johnson_total_passing_read_students_int = Johnson_total_passing_read_students_df['Student ID'].count()

Johnson_percent_passing_read = (Johnson_total_passing_read_students_int / Johnson_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Johnson_overall_passing_df = Johnson_total_passing_math_students_df[Johnson_total_passing_math_students_df['reading_score'] >= 70  ]
Johnson_overall_passing_int = Johnson_overall_passing_df['Student ID'].count()

Johnson_percent_overall_passing = (Johnson_overall_passing_int / Johnson_total_students) * 100

Johnson_dict = {
                'School Name': [Johnson_schoolname],
                'School Type': [Johnson_school_type],
                'Total Number of Students': [Johnson_total_students], 
                'Total School Budget': [Johnson_total_budget],
                'Per Student Budget': [Johnson_PerStudent_budget],
                'Average Math Score': [Johnson_avg_math_score], 
                'Average Reading Score': [Johnson_avg_read_score],
                'Percentage of >= 70 Math Scores': [Johnson_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Johnson_percent_passing_read],
                'Percentage of Overall Passing': [Johnson_percent_overall_passing]
                }
Johnson_summary_df = pd.DataFrame(Johnson_dict)

In [104]:
#Filter the data so that only those in Ford High School are in the DataFrame
Ford_df = school_data_complete[school_data_complete['school_name'] == "Ford High School"]

Ford_schoolname = Ford_df.iloc[0,4]

Ford_school_type = Ford_df.iloc[0,8]

Ford_total_students = Ford_df['Student ID'].count()

Ford_total_budget = Ford_df['budget'].unique().sum()

Ford_PerStudent_budget = Ford_total_budget / Ford_total_students

Ford_avg_math_score = Ford_df['math_score'].mean()

Ford_avg_read_score = Ford_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Ford_total_passing_math_students_df = Ford_df[Ford_df['math_score'] >= 70 ]
Ford_total_passing_math_students_int = Ford_total_passing_math_students_df['Student ID'].count()

Ford_percent_passing_math = (Ford_total_passing_math_students_int / Ford_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Ford_total_passing_read_students_df = Ford_df[Ford_df['reading_score'] >= 70 ]
Ford_total_passing_read_students_int = Ford_total_passing_read_students_df['Student ID'].count()

Ford_percent_passing_read = (Ford_total_passing_read_students_int / Ford_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Ford_overall_passing_df =Ford_total_passing_math_students_df[Ford_total_passing_math_students_df['reading_score'] >= 70 ]
Ford_overall_passing_int = Ford_overall_passing_df['Student ID'].count()

Ford_percent_overall_passing = (Ford_overall_passing_int / Ford_total_students) * 100

Ford_dict = {
                'School Name': [Ford_schoolname],
                'School Type': [Ford_school_type],
                'Total Number of Students': [Ford_total_students], 
                'Total School Budget': [Ford_total_budget],
                'Per Student Budget': [Ford_PerStudent_budget],
                'Average Math Score': [Ford_avg_math_score], 
                'Average Reading Score': [Ford_avg_read_score],
                'Percentage of >= 70 Math Scores': [Ford_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Ford_percent_passing_read],
                'Percentage of Overall Passing': [Ford_percent_overall_passing]
                }
Ford_summary_df = pd.DataFrame(Ford_dict)

In [105]:
#Filter the data so that only those in Thomas High School are in the DataFrame
Thomas_df = school_data_complete[school_data_complete['school_name'] == "Thomas High School"]

Thomas_schoolname = Thomas_df.iloc[0,4]

Thomas_school_type = Thomas_df.iloc[0,8]

Thomas_total_students = Thomas_df['Student ID'].count()

Thomas_total_budget = Thomas_df['budget'].unique().sum()

Thomas_PerStudent_budget = Thomas_total_budget / Thomas_total_students

Thomas_avg_math_score = Thomas_df['math_score'].mean()

Thomas_avg_read_score = Thomas_df['reading_score'].mean()

#Passing Math (The percentage of students that passed math)
Thomas_total_passing_math_students_df = Thomas_df[Thomas_df['math_score'] >= 70 ]
Thomas_total_passing_math_students_int = Thomas_total_passing_math_students_df['Student ID'].count()

Thomas_percent_passing_math = (Thomas_total_passing_math_students_int / Thomas_total_students) * 100

#Passing Reading (The percentage of students that passed reading)
Thomas_total_passing_read_students_df = Thomas_df[Thomas_df['reading_score'] >= 70 ]
Thomas_total_passing_read_students_int = Thomas_total_passing_read_students_df['Student ID'].count()

Thomas_percent_passing_read = (Thomas_total_passing_read_students_int / Thomas_total_students) * 100

#Overall Passing (The percentage of students that passed math and reading.)
Thomas_overall_passing_df = Thomas_total_passing_math_students_df[Thomas_total_passing_math_students_df['reading_score']  >= 70 ]
Thomas_overall_passing_int = Thomas_overall_passing_df['Student ID'].count()

Thomas_percent_overall_passing = (Thomas_overall_passing_int / Thomas_total_students) * 100

Thomas_dict = {
                'School Name': [Thomas_schoolname],
                'School Type': [Thomas_school_type],
                'Total Number of Students': [Thomas_total_students], 
                'Total School Budget': [Thomas_total_budget],
                'Per Student Budget': [Thomas_PerStudent_budget],
                'Average Math Score': [Thomas_avg_math_score], 
                'Average Reading Score': [Thomas_avg_read_score],
                'Percentage of >= 70 Math Scores': [Thomas_percent_passing_math],
                'Percentage of >= 70 Reading Scores': [Thomas_percent_passing_read],
                'Percentage of Overall Passing': [Thomas_percent_overall_passing]
                }
Thomas_summary_df = pd.DataFrame(Thomas_dict)

In [106]:
#Create a all schools dataframe to hold all above dataframe results from each school
Schools_summary_df = pd.concat([
    Huang_summary_df,
    Figueroa_summary_df,
    Shelton_summary_df,
    Hernandez_summary_df,
    Griffin_summary_df,
    Wilson_summary_df,
    Cabrera_summary_df,
    Bailey_summary_df,
    Holden_summary_df,
    Pena_summary_df,
    Wright_summary_df,
    Rodriguez_summary_df,
    Johnson_summary_df,
    Ford_summary_df,
    Thomas_summary_df])

   
SchoolsByName_summary_df = Schools_summary_df.set_index("School Name").sort_index()
SchoolsByName_summary_df

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [107]:
Top_perform_schools = SchoolsByName_summary_df.sort_values("Percentage of Overall Passing", ascending=False)
Top_perform_schools.head()

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [108]:
Top_perform_schools = SchoolsByName_summary_df.sort_values("Percentage of Overall Passing")
Top_perform_schools.head()

,School Type,Total Number of Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [109]:
math_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'math_score']]
grade9 = math_scores_df[math_scores_df['grade'] == '9th']
grouped_grade9 = grade9.groupby(['school_name'])
grade9_avg_math = grouped_grade9.mean()
renamed_grade9_avg_math = grade9_avg_math.rename(columns={"math_score":"9th"})

math_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'math_score']]
grade10 = math_scores_df[math_scores_df['grade'] == '10th']
grouped_grade10 = grade10.groupby(['school_name'])
grade10_avg_math = grouped_grade10.mean()
renamed_grade10_avg_math = grade10_avg_math.rename(columns={"math_score":"10th"})

math_merge_table1 = pd.merge(renamed_grade9_avg_math, renamed_grade10_avg_math, on="school_name", how = 'outer')

math_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'math_score']]
grade11 = math_scores_df[math_scores_df['grade'] == '11th']
grouped_grade11 = grade11.groupby(['school_name'])
grade11_avg_math = grouped_grade11.mean()
renamed_grade11_avg_math = grade11_avg_math.rename(columns={"math_score":"11th"})

math_merge_table2 = pd.merge(math_merge_table1, renamed_grade11_avg_math, on="school_name", how = 'outer')


math_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'math_score']]
grade12 = math_scores_df[math_scores_df['grade'] == '12th']
grouped_grade12 = grade12.groupby(['school_name'])
grade12_avg_math = grouped_grade12.mean()
renamed_grade12_avg_math = grade12_avg_math.rename(columns={"math_score":"12th"})

math_merge_table3 = pd.merge(math_merge_table2, renamed_grade12_avg_math, on="school_name", how = 'outer')
math_merge_table3

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [110]:
read_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'reading_score']]
grade9 = read_scores_df[read_scores_df['grade'] == '9th']
grouped_grade9 = grade9.groupby(['school_name'])
grade9_avg_read = grouped_grade9.mean()
renamed_grade9_avg_read = grade9_avg_read.rename(columns={"reading_score":"9th"})

read_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'reading_score']]
grade10 = read_scores_df[read_scores_df['grade'] == '10th']
grouped_grade10 = grade10.groupby(['school_name'])
grade10_avg_read = grouped_grade10.mean()
renamed_grade10_avg_read = grade10_avg_read.rename(columns={"reading_score":"10th"})

read_merge_table1 = pd.merge(renamed_grade9_avg_read, renamed_grade10_avg_read, on="school_name", how = 'outer')

read_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'reading_score']]
grade11 = read_scores_df[read_scores_df['grade'] == '11th']
grouped_grade11 = grade11.groupby(['school_name'])
grade11_avg_read = grouped_grade11.mean()
renamed_grade11_avg_read = grade11_avg_read.rename(columns={"reading_score":"11th"})

read_merge_table2 = pd.merge(read_merge_table1, renamed_grade11_avg_read, on="school_name", how = 'outer')


read_scores_df = school_data_complete.loc[:,['grade', 'school_name', 'reading_score']]
grade12 = read_scores_df[read_scores_df['grade'] == '12th']
grouped_grade12 = grade12.groupby(['school_name'])
grade12_avg_read = grouped_grade12.mean()
renamed_grade12_avg_read = grade12_avg_read.rename(columns={"reading_score":"12th"})

read_merge_table3 = pd.merge(read_merge_table2, renamed_grade12_avg_read, on="school_name", how = 'outer')
read_merge_table3

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [111]:
#Create a new dataframe using data from SchoolsByName_Summary_df dataframe
spending_df= SchoolsByName_summary_df

# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts


#Create the bins in which Data will be held
bins = [0, 584, 629, 644, 675]

# Create the string names for the four bins
group_names = ["<$585", "$585-629", "$630-644", "$645-675"]

# Categorize spending based on the bins.
spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins, labels=group_names)
spending_df.head(15)

grouped_spending_df = spending_df.groupby(["Spending Ranges (Per Student)"]).mean().drop(columns=['Total Number of Students', 'Total School Budget', 'Per Student Budget'])
grouped_spending_df

,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [112]:
#Create a new dataframe using data from SchoolsByName_Summary_df dataframe
size_df= SchoolsByName_summary_df

#Create the bins in which Data will be held
bins_size = [0, 999, 1999, 5000]

# Create the string names for the four bins
groupsize_names = ["Small(<1000)", "Medium(1000-1999)", "Large(2000-5000)"]

#Cut data into bins, group by Spending Ranges (Per Student)
size_df["School Size"] = pd.cut(size_df["Total Number of Students"], bins_size, labels=groupsize_names)

#per_school_size = SchoolsByName_summary_df.groupby(["Total Number of Students"]).mean()
grouped_size_df = size_df.groupby("School Size").mean().drop(columns=['Total Number of Students', 'Total School Budget', 'Per Student Budget'])

grouped_size_df

,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
School Size,,,,,
Small(<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium(1000-1999),83.374684,83.864438,93.599695,96.790680,90.621535
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [113]:
#school_type_df = SchoolsByName_summary_df
grouped_type_df = SchoolsByName_summary_df.groupby("School Type").mean().drop(columns=['Total Number of Students', 'Total School Budget', 'Per Student Budget'])

grouped_type_df

,Average Math Score,Average Reading Score,Percentage of >= 70 Math Scores,Percentage of >= 70 Reading Scores,Percentage of Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208